@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	background: repeating-linear-gradient(    45deg,    #039840,    #039840 10px,    #00421b 10px,    #00421b 20px  );
}
.libre-bold{
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
}
.libre-reg{
	font-family: 'Libre Baskerville', serif;
	font-weight:300;
}
.a4-size{
	width: 595px;
    height: 842px;
   
    background: url("img/Group 31.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
	padding-top: 15px;
	padding-bottom: 15px;
}
.qr-container{
	width: 105px;
	height: 105px;
	border: 1px solid black;
}
p{
	margin-bottom:7.5px;
}
h4{
	font-size: 15px;
	font-weight: bold;
}

header h3{
	font-size: 27px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
}

header h2{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Libre Baskerville', serif;
	text-transform: capitalize;
	white-space: nowrap;
}

header h5,h5{
	font-size: 16px;
	font-weight: bold;
	font-family: 'Libre Baskerville', serif;
	text-transform: capitalize;
	white-space: nowrap;
}


.duration{
	    padding: 7.5px;
    border: 1px solid black;
}
.table td{
	padding: 7.5px;
}

.green{
	display: block;
	height: 8px;
	color: green;
	width: 100%;
	background: #00421B;
	border-bottom: 2px solid #FFDE00;
	margin-bottom: 5px;
}

.note{
	font-size: 8px;
}

.nbk{
	    height: 50px;
    float: right;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: -35px;
}
.locence-no{
	background: rgba(255, 222, 0, .35);
}
h1{
	font-family: 'Norican', cursive;
	font-size: 32px;
}
p{
	font-family: 'Fira Sans', sans-serif;
}
h2{
	    font-size: 34px;
    font-weight: bold;
    font-family: ro;
}
.serial{
	font-family: 'Aldrich', sans-serif;
}
.hr1{
	background: black;
	width: 100%;
	height: 2px;
	margin-bottom: 2px;
}
.footer{
	font-size: 9px;
    font-weight: 700;
}

.hr2{
	background: black;
	width: 100%;
	height: 4px;
}

.other-num{
	left: 15px;
	right: 15px;
    font-size: 12px;
    font-weight: 500;
    top: 8px;
}
.content-field{
	font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    text-decoration: underline;
}
